<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">

	<resultMap id="calendarResultSet" type="Calendar">
		
		<id property="calendarNo" column="CALENDAR_NO"/>
		<result property="calendarTitle" column="CALENDAR_TITLE"/>
		<result property="calendarContent" column="CALENDAR_CONTENT"/>
		<result property="calendarDate" column="CALENDAR_DATE"/>
		<result property="startDate" column="CALENDAR_START"/>
		<result property="endDate" column="CALENDAR_END"/>
		<result property="empNo" column="EMP_NO"/>
		<result property="calendarStatus" column="CALENDAR_STATUS"/>
	
	</resultMap>

	
	
	<select id = "showCalendar" resultMap = "calendarResultSet">
		SELECT *
		FROM CALENDAR
		WHERE CALENDAR_STATUS='Y'
		
	</select>
	
	<insert id="addCalendar" parameterType="Calendar">
		INSERT INTO CALENDAR
		VALUES(SEQ_CALENDAR_NO.NEXTVAL, #{calendarTitle}, #{calendarContent},SYSDATE, #{startDate},#{endDate},#{empNo},  DEFAULT)
		
	</insert>
	
	<select id="selectCalendar" parameterType="_int" resultMap="calendarResultSet">
		SELECT *
		FROM CALENDAR
		WHERE CALENDAR_NO=#{cno} AND CALENDAR_STATUS='Y'
	</select>
	
	<update id="deleteCalendar" parameterType="_int">
		UPDATE CALENDAR
		SET CALENDAR_STATUS='N'
		WHERE CALENDAR_NO =#{calendarNo} AND CALENDAR_STATUS='Y'
	</update>
	
	
</mapper>

